/* Big Section */

* {
  /* universal selector */
  /* border-top: 10px solid #08967e; */
  /* Global Reset */
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #08967e;
  position: relative;
}

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  /* position: relative; */
}
.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 80px;*/
}

nav {
  font-size: 18px;
}

nav a:link {
  padding: 0 5px;
  /* background-color: bisque;
  margin: 20px;
  padding: 20px;
  display: block; */
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
  /* position: relative; */
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #08967e;
  border-bottom: 5px solid #08967e;
  padding: 50px 0;
  width: 500px;
}

/* Small Section */
h1,
h2,
h3 {
  color: #08967e;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}
/* footer p {
  font-size: 16px;
} */

/* id selctor */
#author {
  font-size: 18px;
  font-style: italic;
}

#copyright {
  font-size: 16px;
  font-style: italic;
}

/* class selector */
.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

.post-img {
  width: 100%;
  /* set height to auto because we've already set height in html, 
  if we didn't, then this is unnecessary */
  height: auto;
}
/* .first-li {
  font-weight: bold;
} */

/* pseudo class selection */
/* li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(2) {
  color: red;
}

li:nth-child(odd) {
  color: orange;
} */

/* misconception: this doesn't work */
article p:first-chile {
  color: red;
}

/* this works because the last child of article is a p element */
/* article p:last-child {
  color: red;
} */

/* only select anchor with href link */
a:link {
  color: #08967e;
  text-decoration: none;
}

a:visited {
  color: yellowgreen;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: yellow;
  font-style: italic;
}

.like-btn {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  position: absolute;
  /* top: 50px;
  left: 50px; */

  bottom: 50px;
  right: 50px;
}
/* LVHA */

/* Resolving Selector Conflict */
/* #copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
} */
